# --- Servidor ---
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# --- Base de datos ---
MONGODB_URI=mongodb://127.0.0.1:27017/ehs_platform

# --- Autenticación ---
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=8h

# --- Seed (usuario admin inicial) ---
SEED_ADMIN_EMAIL=admin@ehs.local
SEED_ADMIN_PASSWORD=Admin123*
